{% extends "layouts/base.html.twig" %}

{% from "macros/forms.html.twig" import error_class %}

{% block title %}Add a product{% endblock %}

{% block body %}

<div class="mx-auto" style="max-width: 320px">

  <h1 class="h3 mb-3 text-center font-weight-normal">
    {{ 'Edit product'|trans }}
  </h1>

  {{ form_start(form, { 
    'attr': { 'class': 'card shadow p-3 mx-auto', 'needs-validation': 'true' }
    }) 
  }}

    <div class="mb-3">
      {{ form_label(form.name) }}
      {{ form_widget(form.name,  
          {
            'attr': {
              'class': 'form-control' ~ ' ' ~ error_class(form.name.vars.errors)
            }
          }
      )}}
      <div class="form-error">
        {{ form_errors(form.name) }}
      </div>
    </div>

    <div class="mb-3">
      {{ form_label(form.description) }}
      {{ form_widget(form.description,  
          {
            'attr': {
              'class': 'form-control' ~ ' ' ~ error_class(form.description.vars.errors)
            }
          }
      )}}
      <div class="form-error">
        {{ form_errors(form.description) }}
      </div>
    </div>

    <div class="mb-3">
      {{ form_label(form.price) }}
      {{ form_widget(form.price,  
          {
            'attr': {
              'class': 'form-control' ~ ' ' ~ error_class(form.price.vars.errors)
            }
          }
      )}}
      <div class="form-error">
        {{ form_errors(form.price) }}
      </div>
    </div>

    <div class="mb-3">
      {{ form_label(form.category) }}
      {{ form_widget(form.category,  
          {
            'attr': {
              'class': 'form-control' ~ ' ' ~ error_class(form.price.vars.errors)
            }
          }
      )}}
      <div class="form-error">
        {{ form_errors(form.category) }}
      </div>
    </div>

    <div class="mb-3">
      {{ form_label(form.owner) }}
      {{ form_widget(form.owner,  
          {
            'attr': {
              'class': 'form-control' ~ ' ' ~ error_class(form.owner.vars.errors)
            }
          }
      )}}
      <div class="form-error">
        {{ form_errors(form.owner) }}
      </div>
    </div>

    <div class="mb-3">
      {{ form_label(form.image) }}
      {{ form_widget(form.image,  
          {
            'attr': {
              'class': 'form-control' ~ ' ' ~ error_class(form.image.vars.errors)
            }
          }
      )}}
      <div class="form-error">
        {{ form_errors(form.image) }}
      </div>
    </div>

    <div class="mt-3">
      <twig:Button type="submit"
                   variant="btn-primary"
                   class="mb-3 w-100"
                   label="save"
                   icon='lucide:circle-plus'/>

      <twig:Button href="{{ path('app_products_show', { 'id': app.current_route_parameters.id }) }}"
                   variant="btn-outline-dark"
                   class="mb-3 w-100"
                   label="cancel"
                   icon='lucide:circle-arrow-left'/>
    </div>

  {{ form_end(form) }}

</div>

{% endblock %}