<div>
  <p>Beste</p>

  <p>Bezoek de volgende link om je wachtwoord voor {{ APPNAME }} te wijzigen:</p>

  <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
    {{ url('app_reset_password', {token: resetToken.token}) }}
  </a>

  <p>Deze link verloopt over {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

  <p>Met vriendelijke groet,</p>
  <p>Het {{ APPNAME }} team</p>
</div>
